@media only screen and (min-width: 64em) {
  

    #lglogo {
        margin-left: -350px;
        width: 200px;
        height: 151px;
    }
    
    nav button { 
        display:none; 
    } 
    
    nav {
        list-style-type: none;
    }
    
    nav ul {
        padding-left: 15px;
    }
    
    nav ul.hide {
        display: inline-flex;
        flex-direction: row;
    }
    
    nav ul li a {
        border-top: none;
    }
    
    main figure img {  
        width: 75%; 
    }
    
    section.images {
        display:inline-flex;
        width: 75%;
    }
    
    #callaction {
        margin: 0 0 0 12%; 
        width:75%;
    }
    
/***** Adventure Tours Page CSS *****/
    
    section.tour {
        margin: 1em 0 4% 12%;
        width: 75%;
    }
    
    h2 {
        margin: 2% 0 2% 5%;
    }
    
    p.description {
        margin: 0 0 2% 12%;
        width: 75%;
    }
    
    section.details {
        font-size: 1.2em;
    }
    
/***** Events Page CSS *****/

    section.content {
        display: flex;
        align-items: flex-start;
    }
    
    article.greatdivide {
        margin: 5% 0 5% 5%;
        width: 75%;
        padding-bottom: 0;
        border: none;
    }
    
    article h1 {
        font-size: 2.2em;
    }

    form {
        width: 45%;
        margin: 0 0 5% 5%;
        max-width: 500px;
    }
    
    nav {
        margin-bottom: 0;
    }
    
    article p.description {
        width: 90%;
        margin-left: 5%;
        font-size: 1.5em;
        color: #dc4c18;
    }
    
    section.dividedetails p, section.price p {
    font-size: 1.2em;
    }
    
    
/***** Sales Page CSS *****/
    
    article section.txt h3, article section.txt p {
        font-size: 1.3em;
    }
    
    
/***** Repairs Page CSS *****/
    
    main section.tables {
        display: inline-flex;
        margin-bottom: 5%;
         
    }
    
    section.rowone {
        margin-right: 2%
    }
    
    section.rowtwo {
        margin-left: 2%
    }
    
    table {
        margin: 7% auto;
        width: 400px;
    }
    
    table tr {
        padding: 10px;
    }
}