@media only screen and (min-width: 37.5em) {
  
    header {
        display: inline-flex;
    }
    
    #smlogo {
        display: none;
    }
    
    #lglogo {
        display: inline-flex;
        margin-left: -200px;
        width: 166px;
        height: 125px;
    }
    
    header img.header {
        width: 100%; 
        margin: 0;
    }
    
    nav {
        margin-bottom: 2%;
    }
    
    #capone {
        display: none;
    }
    
    main figure img {  
        width: 95%;
    }
    
    #callaction {
        font-size: 30px;
        margin: 1.5em 1em 0em;
        padding: 0;
        color: #414244;
    }
    
    section.images {
        display:inline-flex;
        width: 95%;
    }
    
    #breaksimg {
        width: 50%;
        height: 50%;
        border: 5px solid white;
    }
    
    #wheelimg {
        width: 50%;
        height: 50%;
        border: 5px solid white;
        margin-top: 0;
    }
    
    footer {
        font-size: 1.3em;
    }
    
    footer aside {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    footer aside img {
        margin-right: 1em;
    }
    
    footer aside p {
        margin-left: 1em;
    }
    
    
    
/***** Adventure Tours Page CSS *****/
    
    section.tour {
        margin: 1% 0 3% 7.5%;
        width: 85%;
    }
    
    h2 {
        margin: 3% 0 3% 5%;
    }
    
    p.description {
        margin: 0 0 2% 5%;
        font-size: 1.4em;
    }
    
    section.details {
        display:inline-flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    section.details img {
        max-width: 35%;
    }



/***** Contact Us Page CSS *****/

    section.text {
        max-width: 80%;
        display: inline-flex;
        margin: auto auto auto 8%;
    }
    
    section.address h3, section.contact h3 {
        font-size: 1.3em;
    }
    
    section.address p, section.contact p {
        font-size: 1.1em;
    }


/***** Events Page CSS *****/

    article.greatdivide {
        margin: 5% 0 5% 7.5%;
        width: 85%;
    }

    form {
        width: 70%;
        margin: 2% 0 5% 15%
    }

    fieldset {
        padding: 
    }
    
    
/***** Sales Page CSS *****/
    
    article.chicinfo, article.retroinfo, article.tykeinfo {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        width: 85%
    }
    
    article img {
        min-width: 60%;
    }
    
    article section.txt {
        min-width: 40%;
        margin-left: 5%;
        text-align: left;
    }
    
/***** Repairs Page CSS *****/
    
    table {
        max-width: 500px;
        margin: 6% auto;
    }
    
    main.repairs h1 {
        margin: 2%;
    }
    
    main.repairs p {
        font-size: 1.2em;
        width: 80%;
        max-width: 600px;
    }
    
}